.row {
    max-width: $grid-width;
    background-color: #eee;
    margin: 0 auto;


    &:not(:last-child){
        margin-bottom:$gutter-vertaical;
        
    }


    @include clearfix;

    .col-1-of-2{
        width: calc((100% - #{$gutter-horizontel}) / 2);
        background-color: orangered;
        float: left;

        &:not(:last-child){
            margin-right:$gutter-horizontel ;
        }

    }
    
}
