body {
    font-family: 'Lato', sens-serif;
    font-weight: 400;
    /* font-size: 16px; */
    line-height: 1.7;
    color:$color-grey-dark;
    padding: 3rem;
 
}


.heading-primary{
    color: $color-white;
    text-transform: uppercase;
    margin-bottom: 6rem ;
    backface-visibility: hidden; /* تضبيط تغير المكان بعد الانيميشن مع انه ما تغير معي وتغير مع الكورس */ 


    &--main{
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
        animation: moveInLeft;  /*  تشغيل الانيميشن*/
        animation-duration: 2s;  /*  سرعه تشغيل  الانيميشن*/
        animation-timing-function: ease-out; /*  التحكم بالتشغيل */
       
        /* animation-delay: 3s;  انتضار حتى تشغيلها 
          animation-iteration-count: 3;  عدد مرات تشغيلها 
          animation-timing-function: ease-out;   التحكم بالتشغيل 
        */
    }

    &--sub{
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing:1.75rem;
        animation: moveInRight 2s ease-out;  /* اختصار للي قبله*/
    
    }
}

.heading-secondary{
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;// اذا حطيناه ياخذ مساحه بالضبط على الطتابه ما يزيدد 
    background-image: linear-gradient(to right ,$color-primary-light , $color-primary-dark);
    -webkit-background-clip: text; // عشان يكون الباكقروند بالضبط على شكل التيكست ما يكون زياده
    color: transparent; // عشان اللون يصير نفس الباكقروند 
    letter-spacing: 2px;

    transition: all .2s; // غشان حركه الهوفر تصير سموث 



    &:hover {
        transform: skewY(5deg)  skewX(5deg) ;
        text-shadow: 0.5rem 1rem 2rem rgba($color-black,  0.2);
    }
}

.heading-tirtiary {

    font-size:$default-font-size;
    font-weight: 700;
    text-transform: uppercase;
}
.pargraph{
font-size:$default-font-size;
&:not(:last-child) {
    margin-bottom: 3rem;
}
}